<div>
    <h1 class="display-5 fw-bolder mb-1 text-center">A Place to Quicky Find a Tutor Requirement  You want !!! Matching Students and Tutors across the World</h1>
    <p class="lead fw-normal-50 mb-4 text-center">In order to assist students develop confidence and realize their full potential, we support tutors who offer high-quality, targeted instruction.
        Tutors offer top-notch instruction in all topics at all levels all over the world.</p>
    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">

        <app-job-search class="w-100"></app-job-search>

    </div>
</div>


<!-- <div class="container mt-5"> -->

    <div class="m-5">
        <div class="col" *ngFor="let requirement of requirements">
            <div class="card card-body m-3">
                <!-- <h5 class="card-header">{{requirement.title}}</h5> -->
                <h5 class="card-title">{{requirement.title}}</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">{{requirement.id}}</h6> -->
                <p class="card-text">{{requirement.description}}</p>
                <p class="card-text">Posted Date: {{requirement.postedDate}}</p>
                <div class="d-grid gap-2 d-md-block">
                <!-- <a href="#" class="btn btn-primary rounded-pill">Send Request to Student</a> -->
                <button type="button" (click)="onSendRequestClick(requirement)" class="btn btn-primary rounded-pill">Send Request to Student</button> 
                </div>
            </div>
        </div>
    </div>
<!-- </div> -->